@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2 {
  padding-bottom: 10px;
  font-size: 38px;
  font-weight: 600;
}

p {
  letter-spacing: 1px;
  line-height: 1.5;
  color: #192252;
  font-size: 18px;
  font-weight: 400;
}

body {
  font-family: "Montserrat", sans-serif;
}

.header {
  height: 80px;
  display: flex;
  align-items: center;
}
.header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .content .logo {
  font-weight: 700;
  font-size: 32px;
  color: #192252;
}
.header .content ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .content ul li {
  margin: 10px;
}
.header .content ul li .link {
  color: #192252;
  font-size: 16px;
  font-weight: 500;
}
.header .content .login {
  border: none;
  background-color: #0E1734;
  color: #fff;
  padding: 10px 15px;
}
.header .content .loginhover {
  cursor: pointer;
}
.header .content .burger {
  width: 2rem;
  height: 0.2rem;
  background-color: #192252;
  position: relative;
  cursor: pointer;
}
.header .content .burger::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  right: 0;
  width: 2rem;
  height: 0.2rem;
  background-color: #192252;
  cursor: pointer;
}
.header .content .burger {
  display: none;
}

.home {
  display: flex;
  align-items: center;
  margin-top: 80px;
}
.home .content {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home .content button {
  border: none;
  background-color: #0E1734;
  color: #fff;
  padding: 10px 15px;
}
.home .content buttonhover {
  cursor: pointer;
}
.home .content .left {
  width: 45%;
}
.home .content .left p {
  margin-bottom: 20px;
}
.home .content .left .home-btn {
  border: none;
  background-color: #0E1734;
  color: #fff;
  padding: 10px 15px;
}
.home .content .left .home-btnhover {
  cursor: pointer;
}
.home .content .right {
  width: 45%;
}
.home .content .right .img {
  display: flex;
  height: 100%;
  width: 100%;
}
.home .content .right .img .midle-img {
  align-self: flex-end;
  margin: 50px 10px 0 10px;
}
.home .content .right .img img {
  width: 130px;
  height: 400px;
}

.Room .content {
  margin-top: 80px;
}
.Room .content .home-btn {
  border: none;
  background-color: #0E1734;
  color: #fff;
  padding: 10px 15px;
}
.Room .content .home-btnhover {
  cursor: pointer;
}
.Room .content .block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Room .content .block p {
  padding-bottom: 20px;
}
.Room .content .block .more {
  margin: 0 0 0 10px;
}

.bottom .content .block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 20px;
}
.bottom .content .block .more {
  width: 45%;
  margin: 0 0 0 30px;
}
.bottom .content .block .learn {
  width: 45%;
}

.explore .content .home-btn {
  border: none;
  background-color: #0E1734;
  color: #fff;
  padding: 10px 15px;
}
.explore .content .home-btnhover {
  cursor: pointer;
}
.explore .content .courses {
  text-align: center;
  margin: 80px 0;
}
.explore .content .courses p {
  padding: 20px 0;
  margin-bottom: 20px;
}
.explore .content .left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.explore .content .left .block-meet {
  padding: 80px 10px;
}
.explore .content .left .block-meet .alt p {
  margin: 15px 0;
}

#rooms .content .option {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#rooms .content .option .button-left {
  margin-top: 30px;
}
#rooms .content .option .button-left .btn {
  border: none;
  background-color: #0E1734;
  color: #fff;
  padding: 10px 15px;
}
#rooms .content .option .button-left .btnhover {
  cursor: pointer;
}
#rooms .content .option .text-left p {
  padding: 20px 0;
}
#rooms .content .option .right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  width: 45%;
}
#rooms .content .option .right .great {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  padding: 10px 40px 10px 20px;
}
#rooms .content .option .right .great .i {
  margin: 0 0 0 10px;
}
#rooms .content .option .right .great .h1 {
  font-size: 30px;
  padding: 30px 0;
}

.Happy .content .Hear {
  margin-top: 8rem;
  text-align: center;
}
.Happy .content .Hear img {
  padding: 50px 0;
}
.Happy .content .Hear p {
  margin: 30px 0;
}

.time {
  background: #0B265A;
  height: 250px;
}
.time .footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 50px;
}
.time .footer .rem {
  width: 25%;
}
.time .footer .rem h1 {
  color: #FFFFFF;
}
.time .footer .rem p {
  color: #D9DBDE;
}
.time .footer .rem .back {
  font-size: 30px;
  color: #FFFFFF;
}
.time .footer .cabin-meet {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-left: 17rem;
}
.time .footer .cabin-meet .cabin .from {
  font-size: 30px;
  color: #FFFFFF;
}
.time .footer .cabin-meet .cabin li {
  color: #D9DBDE;
  margin: 10px 0;
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    max-width: 576px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  .header .content ul {
    display: none;
  }
  .header .content .login {
    display: none;
  }
  .header .content .burger {
    display: block;
  }
  .home {
    padding: 2rem 0;
    margin: 0;
  }
  .home .content {
    display: block;
  }
  .home .content .left {
    width: 100%;
    margin-bottom: 2rem;
  }
  .home .content .right {
    width: 100%;
  }
  .home .content img {
    width: 100% !important;
  }
  .Room {
    padding: 2rem 0;
    margin: 0;
  }
  .Room .content .block {
    display: block;
  }
  .Room .content .block .learn {
    width: 100% !important;
    text-align: center;
  }
  .Room .content .block .more {
    width: 100%;
    text-align: center;
  }
  .bottom {
    padding: 2rem 0;
    margin: 0;
  }
  .bottom .content .block {
    display: block;
  }
  .bottom .content .block .more-meet {
    width: 100%;
  }
  .explore {
    padding: 2rem 0;
    margin: 0;
  }
  .explore .content .left {
    display: block;
  }
  .explore .content .block-meet {
    width: 100%;
    display: block;
  }
  #rooms {
    padding: 2rem 0;
    margin: 0;
  }
  #rooms .content .option {
    display: flex;
    flex-wrap: wrap;
  }
  #rooms .content .option .great {
    width: 212%;
  }
  #rooms .content .option .great .h1 {
    font-size: 10px;
  }
  #time {
    padding: 2rem 0;
    margin: 0;
    height: 100%;
  }
  #time .content {
    display: block;
  }
  #time .content .footer {
    display: block !important;
    width: 100%;
    padding-top: 0;
    text-align: center;
  }
  #time .content .footer .rem {
    width: 100%;
  }
  #time .content .footer .rem p {
    margin: 20px 0;
  }
  #time .content .footer .cabin-meet {
    display: block !important;
    margin-left: 0;
    width: 100%;
  }
  #time .content .footer .cabin-meet .cabin {
    margin: 50px 0;
  }
}

/*# sourceMappingURL=style.css.map */
